<div class="bank">

   <div class="img">

      <img src="https://img.freepik.com/premium-vector/banking-service-background-bank-building-icon-made-with-currency-symbols-dollar-euro-yen-pound-icons_127544-803.jpg">
      
   </div>

  
   </div>
    <div class="containar">
      <div class = "sec">
         
         <p><a routerLink = "home" href="">Home</a> </p>
         
      </div>
      
       <h2 class="head">Online Banking Website</h2> 
  
       <div class="reg">

            
    <ul>
      
      <li><a routerLink="log" href="">Login</a></li>
      <li><a routerLink = "sign" href="">Sign Up</a></li>
      
      <li (click)="result()"><a routerLink = "logout" href="">LogOut</a></li>
      <li (click)="bar()"><fa-icon [icon] = "icons"></fa-icon></li>
      
    </ul>

</div>


 <div class="home" *ngIf="status">
  <li><button>Home</button></li>
  <li><button><a routerLink="profile" href=""> Profile</a></button></li>
  <li><button>Contact</button></li>
  <li><button>Information</button></li>
  <li><button>Settings</button></li>

 </div>

</div>

<router-outlet></router-outlet>
