
.fst img{
    height: 630px;
    width: 1370px;
}
.fst h2{
    text-align: center;
    color: black;
    margin-top: -620px;
}
.fst label{
    margin-left: 80px;
    margin-top: 30px;
}
.fst input{
    margin-left: 100px;
    width: 200px;
    height: 30px;
    border-radius: 5px;
}
.fst p{
    margin-left: 505px;
    margin-top: -30px;
}
.second input{
    margin-left: 135px;
}
.third input{
    margin-left: 130px;
}
.forth input{
    margin-left: 165px;
}
.fifth input{
    margin-left: 110px;
}
.six p{
    
    margin-left: 120px;
}
.six h6{
    margin-left: 80px;
    margin-top: 30px;
}
.butt{
    margin-left: 580px;
    
}
.butt button{
    margin-left: 20px;
    width: 120px;
    color: black;
    height: 30px;
    background-color: gold;
    border-radius: 7px;
    font-weight: bold;

}
.but button{
    margin-left: 670px;
    width: 120px;
    color: black;
    height: 30px;
    background-color: gold;
    border-radius: 7px;
    font-weight: bold;
    margin-top: 10px;

}
